services:
  wywywebsite-backup:
    container_name: wywywebsite-backup
    tty: true
    restart: always
    build:
      context: ../
      dockerfile: apps/backup/Dockerfile
    env_file:
      - path: .env
        required: true
    ports:
      - ${BACKUP_SERVER_PORT}:${BACKUP_SERVER_PORT}
    volumes:
      - ./../data:/data
    command: ["python3", "manage.py", "runserver", "0.0.0.0:${BACKUP_SERVER_PORT}"]