services:
  wywywebsite_backup:
    container_name: wywywebsite_backup
    tty: true
    restart: always
    build:
      context: ../
      dockerfile: apps/backup/Dockerfile
      args:
        FTP_UID: ${FTP_UID}
        FTP_GID: ${FTP_GID}
        FTP_USER: ${FTP_USER}
        FTP_PASSWORD: ${BACKUP_SERVER_PASSWORD}
    env_file:
      - path: .env
        required: true
    ports:
      - 21:21
      - 30000-30009:30000-30009 # passive ports
    volumes:
      - ./../data:/home/${FTP_USER}
      - ./../logs:/var/log/
    entrypoint: /entrypoint.sh
